@page "/logout"
@using AdminWatchServer.Services.Auth
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject IAuthService AuthService
@inject NavigationManager Navigator;

<p>Wylogowowanie...</p>

@code {

    protected override async Task OnInitializedAsync()
    {   
        await AuthService.Logout();
        
        Navigator.NavigateTo("/", true, true);

    }

}