@page "/register"
@using System.ComponentModel.DataAnnotations
@using AdminWatchServer.Services
@using Microsoft.AspNetCore.Identity

@inject IAuthService AuthService;
@inject NavigationManager Navigator;

<FluentStack Style="height: 100vh;" Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center">
    <AdminWatchLogo/>
    @if (!AuthService.IsNoAccounts())
    {
        <FluentMessageBar
            Style="width: 20rem"
            AllowDismiss="false"
            Intent="MessageIntent.Warning">
            Nowo utworzone konta będą potrzebowały zatwierdzenia przez konto Super Administratora.
        </FluentMessageBar>
    }
    <FluentCard Width="fit-content" Height="fit-content" MinimalStyle="true">
        <h3>Rejestracja</h3>
        <FluentEditForm Model="@RegisterInput" OnValidSubmit="OnValidFormRegister" FormName="UserRegister">
            <DataAnnotationsValidator/>

            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField
                    Name="RegisterInput.Username"
                    Required="true"
                    Size="30"
                    @bind-Value="RegisterInput!.Username"
                    Label="Nazwa użytkownika"/>
                <FluentValidationMessage For="() => RegisterInput.Username"/>

                <FluentTextField
                    Name="RegisterInput.Password"
                    Required="true"
                    Size="30"
                    @bind-Value="RegisterInput!.Password"
                    TextFieldType="TextFieldType.Password"
                    Label="Hasło"/>
                <FluentValidationMessage For="() => RegisterInput.Password"/>

                <FluentTextField
                    Name="RegisterInput.PasswordRepeat"
                    Required="true"
                    Size="30"
                    @bind-Value="RegisterInput!.PasswordRepeat"
                    TextFieldType="TextFieldType.Password"
                    Label="Powtórz hasło"/>
                <FluentValidationMessage For="() => RegisterInput.PasswordRepeat"/>

                <div class="register_error">
                    @if (_identityResult.Errors.Any())
                    {
                        <FluentLabel Color="Color.Info" Weight="FontWeight.Bold">Wystąpiły błędy podczas tworzenia użytkownika</FluentLabel>
                        <ul style="list-style-type: disc;">
                            @foreach (var identityError in _identityResult.Errors)
                            {
                                <li style="color: red; font-weight: bold;">@identityError.Description</li>
                            }
                        </ul>
                    }
                </div>
                <FluentButton Style="width: 100%;" Type="ButtonType.Submit" Appearance="Appearance.Accent">Zarejestruj</FluentButton>
            </FluentStack>
        </FluentEditForm>
    </FluentCard>
    <AuthAdditionalInfo 
        TopInfo="Masz już konto w systemie?"
        LinkText="Zaloguj się"
        Href="/login"
        />
</FluentStack>

@code {

    private class UserRegisterInput
    {
        [Required(ErrorMessage = "Nazwa użytkownika jest wymagana")]
        public string? Username { get; set; }

        [Required(ErrorMessage = "Hasło jest wymagane")]
        [DataType(DataType.Password)]
        public string? Password { get; set; }

        [Required(ErrorMessage = "Hasło jest wymagane")]
        [DataType(DataType.Password)]
        [Compare("Password", ErrorMessage = "Hasła nie są takie same!")]
        public string? PasswordRepeat { get; set; }
    }

    [SupplyParameterFromForm] private UserRegisterInput? RegisterInput { get; set; } = new();

    private IdentityResult _identityResult = new();

    protected override async Task OnInitializedAsync()
    {
        if (await AuthService.IsLoggedIn())
            Navigator.NavigateTo("/");
    }

    private async Task OnValidFormRegister(EditContext obj)
    {
        if (RegisterInput is not null)
        {
            _identityResult = await AuthService.Register(
                RegisterInput.Username!,
                RegisterInput.Password!);

            if (_identityResult.Succeeded)
                Navigator.NavigateTo("/");
        }
    }

}

