@page "/dashboard"
@rendermode InteractiveServer
@using AdminWatchServer.Models
@using AdminWatchServer.Services.Devices
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IDevicesRepository DevicesRepository;
@inject NavigationManager Navigator;

@layout DashboardLayout

<h1 class="dashboard_title">Podłączone urządzenia</h1>

<FluentStack Wrap="true" HorizontalGap="20" VerticalGap="20">
    @foreach (var device in DevicesRepository.GetAllDevicesWithoutMeasures())
    {
        <ConnectedDevice
            OnShutdown="OnShutdownClick"
            OnEnterMonitor="@(() => OnMonitorRedirect(device))"
            Device="device" />
    }
</FluentStack>

@code {


    private void OnShutdownClick()
    {
        Console.WriteLine("Hello!");
    }

    private void OnMonitorRedirect(Device device)
    {
        Navigator.NavigateTo($"/dashboard/device/{device.Id}");
    }

}