@page "/dashboard/admins"
@using AdminWatchServer.Services
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject IAuthService AuthService;

@layout DashboardLayout

<h1 style="margin-bottom: 2rem">Administratorzy</h1>

<FluentStack 
    Wrap="true"
    Orientation="Orientation.Horizontal"
    HorizontalGap="20"
    VerticalGap="20">
    @foreach (var user in AuthService.GetAllUsers())
    {
        <UserEntry User="user"/>
    }
</FluentStack>