@page "/dashboard/admins"
@rendermode InteractiveServer
@using AdminWatchServer.Services.Auth
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@inject IAuthService AuthService;

@layout DashboardLayout

<h1 class="dashboard_title">Administratorzy</h1>

<FluentStack
    Wrap="true"
    Orientation="Orientation.Horizontal"
    HorizontalGap="20"
    VerticalGap="20">
    @foreach (var user in AuthService.GetAllUsers())
    {
        <UserEntry User="user"
                   ApproveUser="async () => await AuthService.ApproveUser(user)"
                   UnApproveUser="async () => await AuthService.UnApproveUser(user)"
                   DeleteUser="async () => { await AuthService.DeleteUser(user); StateHasChanged(); }"/>
    }
</FluentStack>

@code {

}