<FluentStack
    Style="width: 100%; height: 100%;"
    Orientation="Orientation.Vertical"
    HorizontalAlignment="HorizontalAlignment.Center"
    VerticalAlignment="VerticalAlignment.Center">
    <FluentProgressRing />
    <p>Pozyskiwanie informacji...</p>
</FluentStack>