<FluentStack 
    Orientation="Orientation.Vertical"
    HorizontalAlignment="HorizontalAlignment.Center">
    <FluentIcon Value="@(new Icons.Regular.Size48.Eye())" Title="Save" />
    <h1>AdminWatch</h1>
</FluentStack>
