div.app_header {
    height: 4rem;
    width: 100%;
    
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 31px -8px rgba(207, 207, 207, 1);
}

h4.title {
    margin: 0;
}